# Ignore the .vscode directory
.vscode/

# Ignore the Documents directory
Documents/

# Ignore the .micropico file
.micropico

# Ignore the MPL3115A2Driver.code-workspace file
MPL3115A2Driver.code-workspace